# dependencies
node_modules/

# build output
dist/
.expo/

# local env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# Android build artifacts
android/app/build/
android/.gradle/
*.keystore
!android/app/debug.keystore
